<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <h1>SSG - Simple Search Engine</h1>

    <form action='/search' method="post">
        <label>Words to search</label>
        <input type="text" name="query"><br>
        <label>Number of documents to show</label>
        <input type="text" name="k"><br>
        <input type="submit" value="search">
    </form>
    
</body>
</html>